<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="fas fa-fire mr-2"></i>Más Populares</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Mostrar las imagenes más populares -->
            {{#each sidebar.popular}}
                <div class="col-md-4">
                    <a href="/images/{{uniqueId}}">
                        <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 image-thumbnail">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>